@font-face {
  font-family: 'Harmonia';
  src: url('~assets/fonts/Harmonia Sans W01 Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Harmonia';
  src: url('~assets/fonts/HarmoniaSansW01-Bold.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

@font-face {
    font-family: 'Harmonia';
    src: url('~assets/fonts/Harmonia Sans W01 Semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Harmonia';
    src: url('~assets/fonts/HarmoniaSansW01-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Mono';
    src: url('~assets/fonts/Harmonia Sans Mono W01.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mono';
    src: url('~assets/fonts/HarmoniaSansMonoW01-.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


//   @font-face {
//     font-family: 'DM Sans';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url('~assets/fonts/DMSans-Regular.ttf') format('truetype');
//   }
  
//   @font-face {
//     font-family: 'DM Sans';
//     font-style: normal;
//     font-weight: 700;
//     font-display: swap;
//     src: url('~assets/fonts/DMSans-Bold.ttf') format('truetype');
//   }
  
  
  
  
