//@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./_mixins.scss";
@import "./_typography.scss";
@import "./_reset.scss";

:root {
  --bgColor: #e4e4cf;
  --textColor: #333;
  --primaryColor: hsl(163, 100%, 36%);
  --primaryColorDarker: hsl(163, 100%, 26%);
  --primaryContrast: #fff;
  --fontFamily: Harmonia, sans-serif;
  --borderSize: 3px;
  --borderRadius: 5px;
}

body {
  margin: 0;
  background-color: var(--bgColor);
  color: var(--primaryColorDarker);
  font-family: var(--fontFamily);
  font-weight: normal;
}

html,
body {
  background-color: var(--bgColor);

  &.theme-blue {
    --bgColor: #e1e1df;
    --textColor: #066b7d;
    --primaryColor: hsl(189, 90%, 46%);
    --primaryColorDarker: #066b7d;
    --primaryContrast: #fff;

    --borderSize: 3px;
    --borderRadius: 5px;
  }
}

.btn {
  all: initial;
  font-family: var(--fontFamily);
  background-color: var(--bgColor);
  border: var(--borderSize) solid var(--textColor);
  color: var(--textColor);
  padding: 0.8em 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  border-radius: var(--borderRadius);
  font-size: 1rem;
  box-sizing: border-box;

  &.primary {
    background-color: var(--bgColor);
    border: var(--borderSize) solid var(--primaryColor);
    color: var(--primaryColor);

    &:hover {
      background-color: var(--primaryColor);
      color: var(--primaryContrast);
    }
  }

  &:hover {
    background-color: var(--textColor);
    color: var(--bgColor);
  }

  &.extended {
    width: 100%;
  }
}

.title {
  margin-bottom: 2rem;
}

.subtitle {
  margin-top: -1rem;
}

.field {
  label {
    margin-right: 1rem;
  }

  &.inline {
    display: flex;
    align-items: center;
  }
}

.is-bold {
  font-weight: bold;
}

.is-size-1 {
  font-size: 3rem;
}

.is-size-3 {
  font-size: 2rem;
}

.is-size-4 {
  font-size: 1.4rem;
}

.is-size-6 {
  font-size: 1rem;
}

.section {
  padding: 3rem 1.5em;

  &.top {
    padding-top: 4rem;
    padding-bottom: 0;
  }

  .container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;

    @include breakpoint(md) {
      max-width: 960px;
    }

    @include breakpoint(lg) {
      max-width: 1152px;
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 22px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;

  background: var(--primaryColor);
  border-radius: 1.3px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 4px;

  background: var(--primaryColor);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--primaryColor);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}
