//@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./_mixins.scss";
@import "./_reset.scss";


:root {
  --bgColor: #E4E4CF;
  --textColor: #333;
  --primaryColor: hsl(163, 100%, 36%);
  --primaryColorDarker: hsl(163, 100%, 26%);
  --primaryContrast: #fff;
  --fontFamily: Roboto, sans-serif;
  --borderSize: 3px;
  --borderRadius: 5px;
}

body {
  margin: 0;
  background-color: var(--bgColor);
  color: var(--textColor);
  font-family: var(--fontFamily);
  font-weight: 400;
}


.btn {
  all: initial;
  font-family: var(--fontFamily);
  background-color: var(--bgColor);
  border:  var(--borderSize) solid var(--textColor);
  color: var(--textColor);
  padding: 0.5em 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  border-radius: var(--borderRadius);
  font-size: 1rem;

  &.primary {
    background-color: var(--bgColor);
  border:  var(--borderSize) solid var(--primaryColor);
  color: var(--primaryColor);

  &:hover {
    background-color: var(--primaryColor);
    color: var(--primaryContrast);
  }

  }

  &:hover {
    background-color: var(--textColor);
    color: var(--bgColor);
  }

  

  &.extended {
    display: block;
    width: 100%;
  }

}

.title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.is-size-1 {
  font-size: 3rem;
}

.is-size-3 {
  font-size: 2rem;
}

.is-size-4 {
  font-size: 1.4rem;
}

.is-size-6 {
  font-size: 1rem;
}

.section {
  padding: 3rem 1.5em;

  &.top {
    padding-top: 4rem;
    padding-bottom: 0;
  }

  .container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    

    @include breakpoint(md) {
      max-width: 960px;
    }

     @include breakpoint(lg) {
      max-width: 1152px;
    }

    
  }
}